:root {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    max-height: 100%;
    background: #EFEFEF;
    color: #a9a9a9;
    font-family: 'Source Sans Pro', sans-serif;
}
header {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #FF3B3F;
}
main {
    width: 50%;
    margin: 0px auto;
    text-align: center;
}
@media screen and (min-width: 740px) {
    main {
        width: 40%;
    }
}
@media screen and (min-width: 1024px) {
    main {
        width: 20%;
    }
}
#options {
    margin-bottom: 2em;
}
#buttons {
    display: flex;
    justify-content: space-between;
}
#buttons > * {
    padding: 0.5em;
    background: #FF3B3F;
    color: #EFEFEF;
    border: none;
    border-radius: 5px;
}
#buttons > *:hover {
    cursor: pointer;
}
/* Hides reload button until the game ends */
#reloadBtn {
    display: none;
}
#scores {
    display: flex;
    justify-content: space-around;
}
#finalResult {
    padding: 0.5em;
    font-size: 1.5em;
    color: #FF3B3F;
}
/* Hides the choices button when game ends */
.gameOver {
    display: none;
}
